form {
    background-color: grey;
    font-style: italic;
    color: white;
    padding: 10px;
}

form .form-part {
    border: 1px solid white;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
}

.form-part label.title {
    position: absolute;
    top: -10px;
    background-color: grey;
}

form label + input[type="text"] {
    display: block;
}

button[type="submit"] {
    background-color: rgb(117, 117, 235);
}